---
import { Image } from "astro:assets";
import logoImage from "@/images/logo.svg";
import darkLogo from "@/images/logo-dark.svg";
---

<div class='flex justify-start items-center gap-2 title mr-5'>
	<a class="dark:hidden" href={Astro.site}>
		<Image src={logoImage} alt="Videohead Logo" />
	  </a>

	  <a class="hidden dark:block" href="/">
		<Image src={darkLogo} alt="Videohead Logo" />
	  </a>
</div>
