:root {
  --vh-bg-primary: #f1f5f9;
  --vh-bg-secondary: #000000;
  --vh-bg-tertiary: #ffffff;

  --vh-text-primary: #000000;
  --vh-text-secondary: #ffffff;
  --vh-text-tertiary: #b3b3b3;

  --vh-primary: #000000;
  --vh-secondary: #9c00ff;
  --vh-tertiary: #3dda98;

  --vh-font-heading: 'Open sans', sans-serif;
  --vh-font-text: 'Inter', sans-serif;
  --vh-font-emph: 'Playfair Display', serif;
}

.vh-bg-primary {
  background-color: var(--vh-bg-primary);
}

.vh-bg-secondary {
  background-color: var(--vh-bg-secondary);
}

.vh-bg-tertiary {
  background-color: var(--vh-bg-tertiary);
}

.vh-text-primary {
  color: var(--vh-text-primary);
}

.vh-text-secondary {
  color: var(--vh-text-secondary);
}

.vh-text-tertiary {
  color: var(--vh-text-tertiary);
}

.vh-color-secondary {
  color: var(--vh-secondary);
}

.vh-color-tertiary {
  color: var(--vh-tertiary);
}

body {
  font-family: var(--vh-font-text);
}

h1,
h2,
h3 {
  font-family: var(--vh-font-heading);
}

.heading,
.heading-em {
  font-size: 4.5rem !important;
  line-height: 5.2rem;
}

.heading-em {
  font-family: var(--vh-font-emph);
  font-style: italic;
}

.h2-heading,
.h2-heading-em {
  font-size: 3.7rem !important;
  line-height: 4rem;
}

.h2-heading-em {
  font-family: var(--vh-font-emph);
  font-style: italic;
}

.h2-subheading,
.h2-subheading-em {
  font-size: 3rem !important;
  line-height: 3.9rem;
}

.h2-subheading-em {
  font-family: var(--vh-font-emph);
  font-style: italic;
}

.subheading,
.subheading-em {
  font-size: 1.5rem !important;
  line-height: 2.5rem;
}

.subheading-em {
  font-family: var(--vh-font-emph);
  font-style: italic;
}

.margin-y {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.padding-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.btn-primary {
  background: var(--vh-primary);
  border-width: 0;
  border-radius: 30px;
  color: var(--vh-text-secondary);
  font-weight: bold;
  padding: 1.2rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.btn-primary:hover {
  background: var(--vh-secondary);
}

.btn-secondary {
  background: var(--vh-secondary);
  border-width: 0;
  border-radius: 30px;
  color: var(--vh-text-secondary);
  font-weight: bold;
  padding: 1.2rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.btn-secondary:hover {
  background: var(--vh-tertiary);
  color: var(--vh-text-primary);
}

.faq-container {
  background-color: var(--vh-bg-primary);
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgba(83, 83, 83, 0.07);
  cursor: pointer;
  text-align: start;
}

.faq-upper-container {
  width: 100%;
  padding: 1.7rem 2rem;
  cursor: pointer;
}

.faq-question-text {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
}

.faq-question-text::after {
  content: "\276F";
}

.faq-answer-text {
  font-family: var(--vh-font-text);
  color: var(--vh-text-primary);
  font-size: 1.3rem;
  padding-top: 0rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-weight: 300;
  display: none;
}

.faq-handle {
  position: absolute;
  opacity: 0;
  z-index: -1;
  max-height: 0%;
}

.faq-handle:checked~.faq-answer-text {
  display: inline-flex;
}

.bg.cta-shape-1 {
  position: absolute;
  opacity: 0.12;
  left: 13%;
  rotate: 8deg;
  margin-top: 5rem;
}

.bg.cta-shape-2 {
  position: absolute;
  opacity: 0.1;
  right: 10%;
  margin-top: 15rem;
}

.feat-img {
  box-shadow: 0 10px 30px 0 rgba(83, 83, 83, 0.25);
  background-color: rgba(0, 0, 0, 0.1);
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  clip-path: inset(1px 1px);
}

.navigation a:hover,
.find-us a:hover {
  opacity: 0.6;
}

.card {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 10px 30px 0 rgba(83, 83, 83, 0.1);
  border: transparent;
}

.card-image {
  width: 80px;
  height: 80px;
  margin-bottom: 32px;
}

.hero {
  border: 15px solid rgba(0, 0, 0, 0.07);
  border-radius: 30px;
}

.demo-form {
  box-shadow: 0 10px 30px 0 rgba(83, 83, 83, 0.1);
}

.demo-form:hover {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(157, 0, 255, 0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(157, 0, 255, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(157, 0, 255, 0.2);
}

.demo-form-element,
.demo-form-element-selected {
  margin: 5px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.demo-form-element:hover {
  background-color: #f0f0f0;
}

.demo-form-element-disabled {
  color: rgba(0, 0, 0, 0.5);
}

.demo-form-element-disabled:hover {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.demo-form-element-selected {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
}

.demo-form-input {
  border-radius: 15px;
}

.demo-form input:focus {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border: 2px solid transparent;
}

.demo-form-button {
  background-image: linear-gradient(to right, #4776E6 0%, var(--vh-secondary) 51%, #4776E6 100%);
  padding: 15px 45px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
}

.demo-form-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.demo-form-separator {
  color: #bababa;
  margin-top: 15px;
  padding-bottom: 15px;
}